PORT=3000 

# Development environment
DB_HOST=localhost
DB_USERNAME=""
DB_PASSWORD=""
DB_NAME=lib_app_development

# Test environment
DB_HOST_TEST=localhost
DB_USERNAME_TEST=""
DB_PASSWORD_TEST=""
DB_NAME_TEST=lib_app_test

# Production environment
DB_HOST_PRODUCTION=""
DB_USERNAME_PRODUCTION=""
DB_PASSWORD_PRODUCTION=""
DB_NAME_PRODUCTION=lib_app_production
DB_NAME_CACHE=lib_app_production_cache
DB_NAME_QUEUE=lib_app_production_queue
DB_NAME_CABLE=lib_app_production_cable

#Optional but looks cool to have book images.
#If you don't provide the following variables, a default placeholder image will be used when creating a book
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

